@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&family=Redressed&display=swap');

:root {
    --color-primary: #007bff;
    --color-secondary: #f1c40f;
    --color-delete: #e74c3c;
    --color-delete-dark: #c0392b;
    --font-sans-serif: 'Poppins', sans-serif;
    /* --font-sans-serif: 'Merriweather Sans', sans-serif; */
    --font-mono: 'JetBrains Mono', monospace;
    --font-cursive: 'Redressed', cursive;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
